@keyframes shineBright {
  0%, 100% {
    filter: brightness(1.2) drop-shadow(0 0 5px gold);
    transform: scale(1);
  }
  50% {
    filter: brightness(1.8) drop-shadow(0 0 15px gold);
    transform: scale(1.05);
  }
}

.twinkle {
  animation: shineBright 1.5s infinite ease-in-out;
}


@keyframes floatCloud {
  0% { transform: translateX(0); }
  50% { transform: translateX(15px); }
  100% { transform: translateX(0); }
}

.float-cloud {
  animation: floatCloud 6s ease-in-out infinite;
}

@keyframes flyUpDown {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

.flying {
  animation: flyUpDown 4s ease-in-out infinite;
}
